Herbivore-Insectivore
Herbivore-Omnivore
Herbivore-Vertivore
Insectivore-Omnivore
Insectivore-Vertivore
Omnivore-Vertivore
Overall
Carnivore-Herbivore
Carnivore-Omnivore
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferenceCategoricalMergedPhenotypeVector.rds
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferenceCategoricalPathsFile.rds
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferenceCombinedCategoricalCorrelationFile.rds
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferenceCorrelationFile.csv
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferenceCorrelationFile.rds
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferenceMergedCategoricalTree.rds
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferenceMergedCombinedCategoricalCorrelationFile.rds
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferenceMergedCorrelationFile.csv
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferenceMergedCorrelationFile.rds
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferenceMergedPairwiseCorrelationFile.csv
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferenceMergedPairwiseCorrelationFile.rds
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferencePairwiseCorrelationFile.csv
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferencePairwiseCorrelationFile.rds
CategoricalInsVertivoreTreeFamilyAgnostictLiamInferenceRERFile.rds
