.Rproj.user
.Rhistory
.RData
.Ruserdata


RemadeTreesAllZoonomiaSpecies.rds
ProjectFrameworkPreGitted.Rproj
allInsectivory
Output/carnvHerbs
*PermulationsData*
Rplots.pdf
Src/Loc/inspectGetPermsBinary.R
*laura*
Results/carnvHerbRERFileMinSp35.rds
Data/Testing
*FishTree*
Output/Test
Output/Domestication/IgnoreGit
*Correlationfile*
*PathsFile*
*RERFile*
*graphs*
sracthSpace.R