TrueCategoricalRefrenceTreeOld
TrueCategoricalRefrenceTreeComplexOld
TrueCategoricalRefrenceTreeCompressedOld
TestCompress
CategoricalWorkingTreeOld
CategoricalMobivoreTreeOld
CategoricalInsVertivoreTreeLiamInference.zip
Demo
CategoricalInsVertivoreTreeLiamInference
CategoricalInsVertivoreTreeDuplicateLiamInference
CategoricalInsVertivoreTreeTestLiamInference
TestFullTree
SplitBothFullTree
SplitBothPruned
DuplicatePredatorFullTree
*CladeBinary*
HarshalCategoricalRER
HarshalCategoricalRERNew
HarshalContinousRER
HarshalContinousRER.zip
HarshalContinousRERMod
LeahCategoricalRERNew
PosterTreeNew
ComplexDietCentalAnalysisEqualLengthInference
ComplexDietCentralAnalysisNoFishbat
ComplexDietCentralAnalysisPiscFix
ComplexDietCentralAnalysisSimplify2
ComplexDietCentralAnalysisSimplifyAllSpecies
ComplexDietCentralAnalysisSimplifyAllSpecies2
ComplexDietCentralAnalysisSimplifyNoScav
ComplexDietCentralAnalysisSimplify
ComplexDietCentralAnalysisEqualLengthInference
ComplexDietCentralAnalysisSimplifyEqualDrop
ComplexDietCentralAnalysisSimplifyEqualDropAllSpecies
ComplexDietCentralAnalysisSimplifyStrictPred
ComplexDietCentralAnalysisSimplifyStrictPredAllSpecies
