Herbivore-Insectivore
Herbivore-Omnivore
Herbivore-Vertivore
Insectivore-Omnivore
Insectivore-Vertivore
Omnivore-Vertivore
Overall
Carnivore-Herbivore
Carnivore-Omnivore
CategoricalInsVertivoreTreeNoYeastLiamInferenceCategoricalMergedPhenotypeVector.rds
CategoricalInsVertivoreTreeNoYeastLiamInferenceCategoricalPathsFile.rds
CategoricalInsVertivoreTreeNoYeastLiamInferenceCombinedCategoricalCorrelationFile.rds
CategoricalInsVertivoreTreeNoYeastLiamInferenceCorrelationFile.csv
CategoricalInsVertivoreTreeNoYeastLiamInferenceCorrelationFile.rds
CategoricalInsVertivoreTreeNoYeastLiamInferenceMergedCategoricalTree.rds
CategoricalInsVertivoreTreeNoYeastLiamInferenceMergedCombinedCategoricalCorrelationFile.rds
CategoricalInsVertivoreTreeNoYeastLiamInferenceMergedCorrelationFile.csv
CategoricalInsVertivoreTreeNoYeastLiamInferenceMergedCorrelationFile.rds
CategoricalInsVertivoreTreeNoYeastLiamInferenceMergedPairwiseCorrelationFile.csv
CategoricalInsVertivoreTreeNoYeastLiamInferenceMergedPairwiseCorrelationFile.rds
CategoricalInsVertivoreTreeNoYeastLiamInferencePairwiseCorrelationFile.csv
CategoricalInsVertivoreTreeNoYeastLiamInferencePairwiseCorrelationFile.rds
CategoricalInsVertivoreTreeNoYeastLiamInferenceRERFile.rds
CategoricalInsVertivoreTreeNoYeastLiamInferenceprunedSpecies.txt
ComplexDietCentralAnalysis/Alternates
