PredatorFullTreeRERFile.rds
PredatorFullTreeCategoricalMergedPhenotypeVector.rds
PredatorFullTreeCategoricalPathsFile.rds
PredatorFullTreeCombinedCategoricalCorrelationFile.rds
PredatorFullTreeCorrelationFile.csv
PredatorFullTreeCorrelationFile.rds
PredatorFullTreeMergedCategoricalTree.rds
PredatorFullTreeMergedCombinedCategoricalCorrelationFile.rds
PredatorFullTreeMergedCorrelationFile.csv
PredatorFullTreeMergedCorrelationFile.rds
PredatorFullTreeMergedPairwiseCorrelationFile.csv
PredatorFullTreeMergedPairwiseCorrelationFile.rds
PredatorFullTreePairwiseCorrelationFile.csv
PredatorFullTreePairwiseCorrelationFile.rds
Carnivore-Herbivore
Carnivore-Omnivore
Herbivore-Insectivore
Herbivore-Omnivore
Herbivore-Vertivore
Insectivore-Omnivore
Insectivore-Vertivore
Omnivore-Vertivore
Overall
PredatorFullTreecombinedGeneResults.csv
PredatorFullTreecombinedGOResults-KeggReactome.rds
