Herbivore-Insectivore
Herbivore-Omnivore
Herbivore-Vertivore
Insectivore-Omnivore
Insectivore-Vertivore
Omnivore-Vertivore
Overall
Carnivore-Herbivore
Carnivore-Omnivore
CategoricalInsVertivoreTreeNoManualLiamInferenceCategoricalMergedPhenotypeVector.rds
CategoricalInsVertivoreTreeNoManualLiamInferenceCategoricalPathsFile.rds
CategoricalInsVertivoreTreeNoManualLiamInferenceCombinedCategoricalCorrelationFile.rds
CategoricalInsVertivoreTreeNoManualLiamInferenceCorrelationFile.csv
CategoricalInsVertivoreTreeNoManualLiamInferenceCorrelationFile.rds
CategoricalInsVertivoreTreeNoManualLiamInferenceMergedCategoricalTree.rds
CategoricalInsVertivoreTreeNoManualLiamInferenceMergedCombinedCategoricalCorrelationFile.rds
CategoricalInsVertivoreTreeNoManualLiamInferenceMergedCorrelationFile.csv
CategoricalInsVertivoreTreeNoManualLiamInferenceMergedCorrelationFile.rds
CategoricalInsVertivoreTreeNoManualLiamInferenceMergedPairwiseCorrelationFile.csv
CategoricalInsVertivoreTreeNoManualLiamInferenceMergedPairwiseCorrelationFile.rds
CategoricalInsVertivoreTreeNoManualLiamInferencePairwiseCorrelationFile.csv
CategoricalInsVertivoreTreeNoManualLiamInferencePairwiseCorrelationFile.rds
CategoricalInsVertivoreTreeNoManualLiamInferenceRERFile.rds
CategoricalInsVertivoreTreeNoManualLiamInferencecombinedGOResults-KeggReactome.csv
CategoricalInsVertivoreTreeNoManualLiamInferencecombinedGOResults-KeggReactome.rds
CategoricalInsVertivoreTreeNoManualLiamInferencecombinedGeneResults.csv
CategoricalInsVertivoreTreeNoManualLiamInferencecombinedGeneResults.rds
